<div class="container center-form">
  <div class="form-container">
    <div style=" text-align: center;"> <h5>Login</h5></div>
    <form [formGroup]="loginForm" class="mt-5">
      <div class="mb-3">



        <label for="ginno" class="form-label">GIN No</label>
        <input autofocus id="ginno" type="text" formControlName="ginno" min="0" (input)="onIdInput($event)" class="form-control focus-blue" placeholder="GIN No" (keydown.enter)="focusNext($event,pass)">
        <small *ngIf="this.loginForm.get('ginno')?.errors?.['required'] && this.loginForm.get('ginno')?.touched" class="text-danger"> Gin No is required</small>



      </div>



      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input #pass id="password" type="password" formControlName="password" class="form-control focus-blue" placeholder="Password" (keydown.enter)="focusNext($event,btn)"> 
        <small *ngIf="this.loginForm.get('password')?.errors?.['required'] && this.loginForm.get('password')?.touched" class="text-danger"> Password is required</small>
        <!-- <small *ngIf="loginError && !this.loginForm.get('gino')?.touched && !this.loginForm.get('password')?.touched" class="text-danger mt-5">Invalid Credentials</small> -->
        <small *ngIf="loginError"  class="text-danger mt-5">Invalid Credentials</small>
      </div>
      <div  style="text-align: right;">
        <button #btn type="button" class="btn  btn-primary btn-block" (click)="submit()">Login</button>
      </div>
    </form>
    <!-- <app-home [ginnoData]="ginno"></app-home> -->
  </div>
 

